<%- include header%>

    <div class="blurred-box">
      <div class="user-box">
          <div class="img">
            <img src="/images/avatar.png" alt="">
          </div>
          <p class="hello-user">
            Hello user: <%= name%>!
          </p>
          <p>Welcome to User Page</p>
      </div>
    </div>

<%- include footer%>
  