<%- include header%>
    <div class="blurred-box">
      <div class="user-box">
          <p class="hello-user">
            Hello user: <%= name%>!
          </p>
          <p>Welcome to User Page</p>
      </div>
    </div>

<%- include footer%>
  